<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header sisa-brand">
          <!-- <a href="../" class="navbar-brand">bootswatch</a> -->
	      
	        <!-- <img src="http://res.cloudinary.com/disputebills/image/upload/v1462474206/blue-mark_cnzgry.png" alt="Dispute Bills"> -->
	        <div class="navbar-brand"> 
	        	<%= partial "partials/logosisa"%>
	        </div>
	        
	    

          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

       <!-- form input -->
		<%= partial "partials/nav-search"%>
      <!-- form input -->
       <!-- Menu -->
		<%= partial "partials/nav-menu"%>
      <!-- Menu -->
        
      </div>
    </div>