<div class="navbar-collapse collapse" id="navbar-main">
  <!-- form input -->
  <%= partial "partials/nav-search"%>
  <!-- form input -->
      <!-- Search -->
  <ul class="nav navbar-nav">
    <li>
      <a href="#">Sobre</a>
    </li>
    <li>
      <a href="#">Notícias</a>
    </li>
    <li>
      <a href="#">Documentos</a>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="programas" aria-expanded="false">Programas <span class="caret"></span></a>
      <ul class="dropdown-menu" aria-labelledby="programas">
        <li><a href="#">ISA Carbono</a></li>
        <li class="divider"></li>
        <li><a href="#">Sócio Biodiversidade</a></li>
        <li class="divider"></li>
        <li><a href="#">recursos hídricos</a></li>
        <li class="divider"></li>
        <li><a href="#">beleza cênica</a></li>
        <li class="divider"></li>
        <li><a href="#">regulação do clima</a></li>
        <li class="divider"></li>
        <li><a href="#">Cultura e Conhecimento Tradicional</a></li>
        <li class="divider"></li>
        <li><a href="#">Conservação do Solo</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Contato</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <!-- More -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="more" aria-expanded="false"><i class="material-icons">more_horiz</i></a>
      <ul class="dropdown-menu" aria-labelledby="more">
        <li class="dropdown-header">Projetos</li>
        <li class="divider"></li>
        <li><a href="#">Como Submeter um Projeto</a></li>
        <li class="divider"></li>
        <li><a href="#">O que é um serviço ambiental</a></li>
        <li><a href="#"></a></li>
      </ul>
    </li>
    <!-- User -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="user" aria-expanded="false"><i class="material-icons">person</i></a>
      <ul class="dropdown-menu" aria-labelledby="user">
        <li class="dropdown-header">Perfil do usuário</li>
        <li class="divider"></li>
        <li><a href="#">AntonioQM</a></li>
        <li class="divider"></li>
        <li><a href="#">Sair</a></li>
      </ul>
    </li>
  </ul>
</div>
